* {
    margin: 0;
    padding: 0;
}

.imagen{
    border: 5px solid white;
    border-radius: 150px;
}

.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tarjeta{
    text-align: center;
    margin-top: 25em;
    background-image: url(/images/bg-pattern-top.jpg);
    background-size: 1.5%;
}

.nombre{
    font: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
