* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-pattern-card.png);
  background-size: 400%;
}

.tarjeta {
  background-color: white;
  text-align: center;
  margin-top: 15em;
  border-radius: 20px;
}

.cabecera {
  background-image: url(../images/bg-pattern-card.png);
  width: 350px;
  height: 135px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.datos_persona {
  background-color: white;
  height: 150px;
  padding-top: 75px;
}

.datos_tarjeta {
  position: relative;
  height: 85px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.likes {
  display: inline-block;
  padding-top: 5px;
}

.followers {
  float: left;
  padding-left: 18px;
  padding-top: 5px;
}

.fotos {
  float: right;
  padding-right: 35px;
  padding-top: 5px;
}

.imagen {
  border: 5px solid white;
  border-radius: 150px;
  margin-top: 85px;

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

p {
  font-size: 14px;
  opacity: 0.6;
}

p.ciudad {
  padding-top: 10px;
}

.edad {
  padding-left: 10px;
  font-size: 20px;
  opacity: 0.5;
}

footer {
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
